.mobileMianDiv {
  /* display: flex;
  flex-direction: column; */
  background-color: white;
  border: 1px solid lightgray;
  /* margin-left: 30px;
  margin-right: 30px; */
  margin: 4px 50px;
  border-radius: 20px;
}

.MRow {
  display: flex;
  justify-content: start;
  height: 100px;

  padding: 6px;
}
.MRowSecCol {
  margin-left: 40px;
  border-left: 1px solid lightgray;
  padding-left: 5px;
}
.marginLeft {
  border-right: 1px solid lightgray;
  padding-right: 10px;
}

.PheadingsM {
  font-weight: 500;
  font-size: 1rem;
  padding-top: 5px;
}

.outerDivM span {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 1rem;
}

.MRowTwo {
  border-top: 0.5px solid lightgray;
  padding: 5px;
  height: 120px;
}
.innerDivM {
  display: flex;
  justify-content: flex-start;
}
.innerDivM > span {
  margin-left: 10px;
}
.innerDivM > span span {
  color: green;
  font-size: 10px;
  font-weight: 500;
}
