/* .mainDivModel {
} */

.custom-modal {
  max-width: 35%; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the modal horizontally */
}

.label-name {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.inputSty {
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 30px;
  width: 100%;
  padding: 20px;
}
input ::placeholder {
  font-size: 0.5rem;
  color: gray;
  padding: 15px;
}
.chip-div {
  border: 1px solid lightgray;
  height: 100px;
  width: auto;
  margin: 3px;
  padding-top: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}
.inner-chip {
  width: auto;
}
.save-button {
  width: 100%;
  margin: auto;
  border: none;
  background-color: #0d99ff;
  color: antiquewhite;
  border-radius: 10px;
  height: 40px;
}
