.sideBarSty {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;

  padding: 0;
  align-items: start;
}

.sideBarSty div {
  /* text-align: center; */
  margin: 20px 5px;
}
.lineO {
  width: 170px;
  height: 0;
  border: 1px dashed gray;
}

.adminBtn {
  height: 25px;
  width: 50px;
  border-radius: 10px;
  border: 1px solid #e47958;
  color: #e47958;
  background-color: #fbebea;
  font-weight: 400;
  font-size: 0.7rem;
  padding: 5px;
}
.offCanBottomDiv {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 0.5rem;
}

.sideBarSty div p {
  text-align: center;
  margin: 0;
  font-size: 0.9rem;
}
.sideBarSty div span {
  text-align: center;
  margin: 0 5px;
  font-size: 0.9rem;
}
