.assessHead {
  margin: 10px 0 10px 20px;
  font-weight: 600;
  font-size: 1.2rem;
}
.mainDiv {
  /* border: 1px solid lightgray; */
  border-radius: 5px;
  display: grid;
  grid-template-columns: 4fr 5fr;
  margin: 10px 10px 10px 20px;
}
.FirstDiv {
  margin-left: 10px;
  display: grid;
  grid-template-columns: 3fr 7fr;
}
.FirstDiv div {
  border: 0.5px solid lightgray;
  height: 140px;
  padding: 5px;
}
.Pheadings {
  font-weight: 600;
  font-size: 1rem;
  padding-top: 10px;
}
.innerDiv b {
  font-size: 1.3rem;
}
.outerDiv span {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 1.2rem;
}
.innerP {
  font-weight: 600;
  font-size: 0.9rem;
}

.SecDiv {
  display: grid;
  grid-template-columns: 7fr 3fr;
}
.SecDiv div {
  border: 0.5px solid lightgray;
  padding: 5px;
  height: 140px;
}

.innerDiv {
  display: flex;
  justify-content: flex-start;
}
.innerDiv > span {
  margin-left: 20px;
}
.innerDiv > span span {
  color: green;
  font-size: 14px;
  font-weight: 600;
}

/* 1255 */
@media only screen and (min-width: 600px) and (max-width: 820px) {
  .FirstDiv div {
    border: 0.5px solid lightgray;
    height: 140px;
    padding: 5px;
  }
  .Pheadings {
    font-weight: 600;
    font-size: 0.8rem;
    padding-top: 10px;
  }
  .innerDiv b {
    font-size: 1rem;
  }
  .outerDiv span {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 0.9rem;
  }
  .innerP {
    font-weight: 600;
    font-size: 0.6rem;
  }
  .SecDiv {
    display: grid;
    grid-template-columns: 7fr 3fr;
  }
  .SecDiv div {
    border: 0.5px solid lightgray;
    padding: 5px;
    height: 140px;
  }

  .innerDiv {
    display: flex;
    justify-content: flex-start;
  }
  .innerDiv > span {
    margin-left: 10px;
  }
  .innerDiv > span span {
    color: green;
    font-size: 10px;
    font-weight: 400;
  }
}
@media only screen and (min-width: 821px) and (max-width: 1255px) {
  .assessHead {
    margin: 10px 0 10px 20px;
    font-weight: 600;
    font-size: 1rem;
  }
  .mainDiv {
    /* border: 1px solid lightgray; */
    border-radius: 5px;
    display: grid;
    grid-template-columns: 4fr 5fr;
    margin: 10px 10px 10px 20px;
  }
  .FirstDiv {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 4fr 6fr;
  }
  .FirstDiv div {
    border: 0.5px solid lightgray;
    height: 140px;
    padding: 5px;
  }
  .Pheadings {
    font-weight: 600;
    font-size: 1rem;
    padding-top: 10px;
  }
  .innerDiv b {
    font-size: 1rem;
  }
  .outerDiv span {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1.1rem;
  }
  .innerP {
    font-weight: 600;
    font-size: 0.7rem;
  }

  .SecDiv {
    display: grid;
    grid-template-columns: 7fr 3fr;
  }
  .SecDiv div {
    border: 0.5px solid lightgray;
    padding: 5px;
    height: 140px;
  }

  .innerDiv {
    display: flex;
    justify-content: flex-start;
  }
  .innerDiv > span {
    margin-left: 10px;
  }
  .innerDiv > span span {
    color: green;
    font-size: 10px;
    font-weight: 600;
  }
}

/* forIcons */
.icon {
  padding: 5px;
  border-radius: 5px;
}

.slide-container {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
}

.visible {
  height: 400px; /* Set the desired height */
}

.hidden {
  height: 0;
}

.sideBarStyS div:hover {
  background-color: lightblue;
  border: 1px solid blue;
  height: 80px;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
}
