body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: lightgray;
  
}
* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* MobileHeader */
.mobileHMainSty {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.mobileHMainSty > div {
  margin: 5px 20px;
}
.mobileHSecSty {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}
